<mat-sidenav-container fullscreen style=" position: absolute; ">

<mat-toolbar style="background-color: rgb(89 105 128); position: fixed; height: 50px;" >
  <mat-toolbar-row style="position: fixed;">
    
    <button style="color: rgb(255, 255, 255);background-color: rgb(89 105 128);  border: none !important;overflow: hidden;" (click)="opened=!opened;head.showSub=false;TakeMeHome()"><mat-icon style="vertical-align: middle;">menu</mat-icon></button>
   
    <div style="margin-left: auto; color: rgb(255, 255, 255);" >{{pageTitle}}</div>

    <button mat-button [matMenuTriggerFor]="User" color="color: rgb(255, 255, 255);background-color: rgb(89 105 128); accent" style="color: rgb(255, 255, 255);background-color: rgb(89 105 128);  border: none !important; margin-left: auto;"><mat-icon style="vertical-align: middle;">account_circle</mat-icon></button>
    <mat-menu #User="matMenu" class="customize">
      <h3 style="text-align: center;">Hi</h3>
      <hr style="margin-top: -8px;">
      <button mat-menu-item style="color: var(--res-level-text-color)!important;" (click)="editMyDetails()">Edit Details</button>
      <button mat-menu-item style="color: var(--res-level-text-color)!important;" (click)="switchTheme()">Switch Theme</button>
      <button mat-menu-item style="color: var(--res-level-text-color)!important;" (click)="LogOut()">Log Out</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>


        <mat-sidenav  [(opened)]="opened"  mode="over" #sidenav position="start"  >
            <ng-container *ngIf="currentpage == 'mainpage' && this.links.length > 0">
                <app-main-page  [heirarchy]="pageheirarchy" [links]="this.links" (pagechanged)="changepages($event); sidenav.toggle()"></app-main-page>
            </ng-container >
            <ng-container *ngIf="currentpage == 'site'" >
                <app-dynamic-site-page [structure]="sitestructure"></app-dynamic-site-page>
            </ng-container > 
        </mat-sidenav>

        <ng-content>    
        </ng-content>
</mat-sidenav-container>