mat-sidenav{
    width: 280px;
    background-color:rgb(89 105 128);
} 


::ng-deep .customize {
    background-color: var(--form-background-color) !important;
    color: var(--res-level-text-color)
}

.mat-drawer-backdrop{
    background-color: rgba(216, 0, 0, 0.5);
}