.main-container
{
    width:100%;
    height:100%;
    display:flex;
    flex-flow: row wrap;
    place-content: center center;

background-color: var(--page-background-color);
    ;
}



.trend-container
{
    width:100%;
    display:flex;
    place-content: center;
    margin-top: 10px;
  
}

.trend
{
    background-color: #333333;
    border-radius: 10px;
    width:90%;
    height:400px;
}

.secondary-container{
    margin: auto;
}

button
{
    border-radius: 10px;
    width:200px;
    height:30px;
}
input
{
    border-radius: 10px;
    width:200px;
    height:30px;
}