.main-container {
    margin-top: 20px;
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    place-content: center center;
    background-color: var(--page-background-color);
}

.trend-container {
    width: 100%;
    display: flex;
    place-content: center;
    margin-top: 10px;
}

.div-form {
    height: auto;
    width: 350px;
    max-width: auto;
    min-width: auto;

    color: var(--form-text-color);
    background-color: var(--form-background-color);
    box-shadow: 5px 5px 5px var(--form-box-shadows);

}

.outer-container {
    width: 45%;
    display: grid;
}

.chart {
    background-color:var(--form-background-color);
    border-radius: 10px;
    width: 90%;
    height: 400px;

}

.inner-container {
    margin: auto;
}

button {
    border-radius: 10px;
    width: 200px;
    height: 30px;
}

input {
    border-radius: 10px;
    width: 200px;
    height: 30px;
    background-color: var(--page-background-color);
    color: var(--form-text-color);

}

