.main-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:100%;
    background-color: var(--page-background-color);
}

.sub-container{
    flex-grow: 0;
    flex-shrink: 0;
}

