.check-rim
{
    fill: green;
    stroke:white;
    stroke-width:1;
}

.check-mark
{
    z-index:500;
    stroke:white;
    stroke-width:2;
}

.cross-rim
{
    fill: red;
    stroke:white;
    stroke-width:1;
}

.global-svg
{
    width:24px;
    height:24px;
}

.myrow
{
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    width: 100%;
    align-items: center;
    text-align: center;
    font-size: 12px;
grid-auto-rows: 30px;
}

.grid1{
    display: grid;
    grid-column: 1;
    float: right;
    text-align: center;
    align-items: center;
        text-align: center;
  
}

.grid3{
    display: grid;
    grid-column: 3;
    float: left;
}