.mainContainer{
    padding-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    min-width: none;
    margin: auto;
    overflow: hidden;
}

.container1{
    position: relative;
    margin: 0 auto;
    grid-column: 1;
    width: 90%;
}

.container2 {
    position: relative;
    grid-column: 2;
    width: 90%;
}

.subContainer {
    display: grid;

}

.container21{
    position: relative;
    grid-column: 1;
    width: 90%;
    margin-left: 0;
}
.container22 {
    position: relative;
    grid-column: 2;
    width: 90%;
    margin-right: 100;
}

::ng-deep .mat-mdc-radio-button.mat-accent{
    --mdc-radio-unselected-hover-icon-color:var(--form-text-color);
    --mdc-radio-selected-icon-color:var(--form-text-color);
    --mat-mdc-radio-ripple-color:var(--form-text-color);
    --mat-mdc-radio-checked-ripple-color:var(--form-text-color);
}

::ng-deep.mat-mdc-radio-button.mat-accent{
    --mdc-radio-unselected-focus-icon-color:var(--form-text-color);
    --mdc-radio-unselected-hover-icon-color:var(--form-text-color);
    --mdc-radio-unselected-icon-color:var(--form-text-color);
    --mdc-radio-unselected-pressed-icon-color:var(--form-text-color);
    --mdc-radio-selected-focus-icon-color:var(--form-text-color);
    --mdc-radio-selected-hover-icon-color:var(--form-text-color);
    --mdc-radio-selected-icon-color:var(--form-text-color);
    --mdc-radio-selected-pressed-icon-color:var(--form-text-color);
    --mdc-mdc-radio-ripple-color:var(--form-text-color);
    --mdc-mdc-radio-checked-ripple-color:var(--form-text-color);
}

::ng-deep .mat-mdc-checkbox.mat-accent {
    --mdc-checkbox-selected-checkmark-color: var(--form-text-color);
    --mdc-checkbox-selected-focus-icon-color:white;
    --mdc-checkbox-selected-hover-icon-color:var(--form-text-color);
    --mdc-checkbox-selected-icon-color:white;
    --mdc-checkbox-selected-pressed-icon-color:white;
    --mdc-checkbox-unselected-focus-icon-color:var(--form-text-color);
    --mdc-checkbox-unselected-hover-icon-color:var(--form-text-color);
    --mdc-checkbox-disabled-selected-icon-color:var(--form-text-color);
    --mdc-checkbox-disabled-unselected-icon-color:var(--form-text-color);
    --mdc-checkbox-unselected-icon-color:var(--form-text-color);
    --mdc-checkbox-unselected-pressed-icon-color:var(--form-text-color);
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    overflow: hidden;
}

.example-full-width {
    width: 100%;
}