<app-header (messageEvent)="changepage($event)" style="z-index: 100;">

    
        <ng-container *ngIf="currentpage == 'site'">
            <app-dynamic-site-page [chartedStructure]="chartedStructure" [shortenStructure]="shortenStructure" ></app-dynamic-site-page>
        </ng-container>
        <ng-container  *ngIf="currentpage == 'development'">
            <app-developer-page [heirarchystructure]="pageheirarchy" (discardchanges)="DiscardDeveloperChanges()" (savechanges)="SaveDeveloperChanges($event)" (pagechanged)="PageChanged()" [customers]="userdata.customers" [structure]="copyofuserdata" ></app-developer-page>
        </ng-container> 
        <ng-container  *ngIf="currentpage == 'drivercreation'">
            <app-driver-creation [driverdata]="userdata.driverdata"></app-driver-creation>
        </ng-container>
        <ng-container  *ngIf="currentpage == 'assignment'">
            <app-page-assigner [customers]="userdata.customers" [pages]="userdata.pages" ></app-page-assigner>
        </ng-container>
        <ng-container  *ngIf="currentpage == 'usermanagement'">
            <app-user-management [userdata]="userdata" [customers]="userdata.customers"></app-user-management>
        </ng-container>
        <ng-container  *ngIf="currentpage == 'svgdrawing'">
            <app-svg-drawing></app-svg-drawing>
        </ng-container>
        <ng-container  *ngIf="currentpage == 'usersettings'">
            <app-user-settings [userdata]="userdata"></app-user-settings>
        </ng-container>

</app-header>